body{
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}
footer{
    background-color: #015958;
    padding: 1vh 1vw;
    text-align: center;
    font-size: 0.9em;
}
#pie div{
    width: 25%;
    padding: 10px;
    margin: 3px;
}
#pie{
    display: flex;
    flex-direction: row;
}
.container{
    width: 400px;
}
.containerr{
    display:contents;
}
#imgprincipal{
    display:contents;
    width: 90%;
    text-align:center;
}
#imgprincipal div{
    margin: 35px 60px;
}